* {box-sizing: border-box}

input[type=text]/*, input[type=password]*/ {
    width: 300px;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=bigtext]/*, input[type=password]*/ {
    width: 100%;
    padding: 10px;
    margin: 2px 0 2px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=felsorolas]/*, input[type=password]*/ {
    width: 50%;
    padding: 10px;
    margin: 2px 0 2px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    float: center;
    width: 20%;
    opacity: 0.9;
  }
  
  bigtitle {
      font-size: 30px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      width: 100%;
      font-weight: 500; 
      text-align: left;
      padding: 15px;
     
  }
  
  .form-group{
    padding:10px;
    border:2px solid;
    width: 300px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .form-group>label{
    position:absolute;
    top:-1px;
    left:20px;
    background-color:white;
  }
  
  .form-group>input{
    border:none;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn {
    float: left;
    width: 20%;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .signupbtn {
    float: right;
    width: 20%;
  }
  
  /* Add padding to container elements */
  .container {
    padding:8px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  label {
          font-size: 13px; 
          font-weight: 500; 
          color:#757575;
          font-family: Arial, Helvetica, sans-serif;
          width: 300px;
          padding: 10px;
          margin: 5px 0 10px 0;
          display: inline-block;
          border: none;
          background: #f1f1f1;
         /* margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
          
          
      }
  
  labelshort {
          font-size: 13px; 
          font-weight: 500; 
          color:#757575;
          font-family: Arial, Helvetica, sans-serif;
          width: 150px;
          padding: 10px;
          margin: 5px 0 10px 0;
          display: inline-block;
          border: none;
          background: #f1f1f1;
         /* margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
          
          
      }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 150px) {
    .cancelbtn, .signupbtn {
      width: 50%;
    }
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  smalltext {
      font-size: 12px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: justify;
  }
  
  widetext {
      font-size: 12px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      width: 100%;
      font-weight: 500; 
      text-align: justify;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
  }
  /* The required input fields are highlighted with red border
  required pattern=".{3,}" title="Please enter at least 3 characters"  */
  input:invalid {
           border: 2px solid red;
        }
        input:invalid + span {
           color: red;
           font-weight: bold;
        }